@keyframes onAppearence {
    from {opacity: 0;}
    to {opacity: 1;}
}

#gallery{
    width: 100%;
    max-width: 960px;
}


.showoff{
    position:absolute;
    width: 100%;
    max-width: 60rem;
    height: 100vh;
    backdrop-filter: blur(10px);
    overflow: hidden;
    animation: onAppearence 2s ease-in-out;
    display: flex;
    flex-direction: column;        
    align-items: center;

}

.showoff img{
    max-width: 20rem;
}

.showoff *{
    font-size: xx-large;
    animation: onAppearence 2s ease-in-out;
    
}