.showcase{
    width: 100%;
    max-width: 60rem;
    height: 37rem;
    background-image: url(../assets/misc/photoshowcase.png);
    background-repeat:no-repeat;
    background-size: 100%;
    margin: 5rem 0;
    justify-content: center;
    display: flex;
}

.showcase img{
    margin: 11rem 0;
    max-height: 20rem;
}

.boothbutton{
    margin: 10rem 4rem;
    max-height: 5rem;
    background-color: gray;
    border: 5px black solid;
    padding: 1rem;
}